body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit-btn{
    height: 40px;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit-btn:hover{
    background-color: #3e8e41;
}